:root{
    --white: #ffffff;
    --aqua: #00ffff;
    --darkgrey: #737373;
    --grey: #dcdcdc;
    --lightgrey: #f4f4f4;
    --maxwidth: 1200px;
    --rootsize: 15px;
}

body{
    background-color: var(--white);
    font-family: sans-serif;
    font-size: var(--rootsize);
}

.container{
    width: 100%;
    max-width: var(--maxwidth);
    margin: 3rem auto;
}

header{
    border: 0.1rem solid var(--grey);
    width: 100%;
}
    header h1{
        text-transform: uppercase;
        color: var(--darkgrey);
        padding: 2rem;
    }

nav{
    width: 100%;
    display: flex;
    padding-top: 1rem;
}
    nav ul{
        padding: 0;
    }
    nav ul li{
        color:var(--darkgrey);
        display: inline-block;
        text-transform: uppercase;
        border: 0.1rem solid var(--grey);
        padding: 1rem;
    }

main{
    border: 0.1rem solid var(--grey);
    width: 100%;
    border-top: 5px solid var(--aqua);
    color: var(--white);
    
}